.color1{
  background-color: #b0aac0;
}
.color2{
  background-color: #ddeedd;
}
.color3{
  background-color: #c2d4dd;
}
nav a {
  color: #625750;
}
﻿body{
background:url(Ah1ZVHO6690.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
}
table{
  background-color: #c2d4dd;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #7789;
}
@media all and (orientation: landscape){
  img{
    width: 8vw;
  }
  h1{
    font-size: 6vw;
  }
}
